{% extends 'base.html' %}
{% block title %}All Products{% endblock %}
{% block content %}
<h2>All Products</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>₹{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
